@import url(_img-form.css);

.img {
    background-color: var(--theme-pink-light);
}

.img img {
    transform: translateX(12%);
}

.form img {
    margin-bottom: 80px;
}

.links {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.links div {
    flex-grow: 1;
}

.subscribe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links div a {
    font-size: 14px;
    text-decoration: none;
}

.subscribe a {
    color: var(--theme-blue);
    transition: 0.2s;
}

.subscribe a:hover {
    color: var(--theme-blue-hover);
}

.forgot-password a {
    color: #000000;
    transition: 0.2s;
}

.forgot-password a:hover {
    color: var(--theme-blue);
}