@import url(_dashboard.css);

.disciplines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .disciplines {
        justify-content: center;
    }    
}

.disciplines a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-decoration: none;
    margin: 20px;
    transition: 0.2s;
}

.disciplines a:hover {
    color: var(--theme-blue);
}

.disciplines a img {
    height: 150px;
    width: auto;
}